// Theme
$dark-1: #222222;
$dark-2: #444;
$white: #fff;
$black: #000;

body {
  overflow: visible; /* was hidden */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  text-align: center;
  overflow: visible;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

button {
  border: none;
  padding: 8px;
  margin-right: 2px;
}
.blue {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px;
}
.green {
  background-color: darkolivegreen;
  color: white;
}

.form-builder-wrapper {
  min-height: 500px;
  max-height: 1000px; /* added a max-height */
  overflow-y: visible; /* was auto */
}

.formbuilder {
  padding: 20px;
  position: relative;
  /*border-style: dotted;*/
  max-height: 1000px;
  overflow: visible; /* was auto */
}

.form-preview-wrapper {
  margin: 20px;
  min-height: 100px;
  max-height: 700px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25),
    0 3px 14px 4px rgba(0, 0, 0, 0.05) !important;
}

.form-schema-wrapper {
  text-align: left;
  margin: 20px;
  overflow: auto;
  min-height: 150px;
  max-height: 200px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25),
    0 3px 14px 4px rgba(0, 0, 0, 0.05) !important;
}

.shadow-custom {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25),
    0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root{
 --toggle-color-background-active : #4C5664;
 --toggle-color-border:#CDD5DF;
 --toggle-color-background-inactive:#fff;
 --toggle-color:#4C5664;
}
.toggle-button-custom-inactive{
  background-color: var(--toggle-color-background-inactive);
  border: 0.5px solid (var(--toggle-color-border));
  color:var(--toggle-color);
}
.toggle-button-custom-active{
  background-color: var(--toggle-color-background-active);
  color:#fff ;
  border: 0.5px solid var(--toggle-color-background-active);

  // border:0;
}
.toggle-button-custom {
  font-size:smaller;
  cursor: pointer;
  height: 16px;
box-sizing: border-box;
font-weight: 400;
letter-spacing: normal;
margin:0;
overflow: visible;
padding:1px 3px;
width: fit-content;
border-radius: 4px;
  // --bs-btn-border-color: gainsboro;
  // border-color:var(--toggle-color-border)
}


